body{
    margin: 0;
}
.kartinka {
    display: flex;
    width: 1850px;
    height: 400px;
    position: relative;
    overflow: hidden;
}
.img {
    display: flex;
    position:relative;
    width: 50%;
    height: 400px;
    transition: 1s ;
    overflow: hidden;
}
img{
    height: auto;
    width: 100%;
    transition: 1s;
}
.text {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 1s ;
    width: 50%;
    height: 100%;
}
.kartinka:hover{
    img{
        transform: scale(1.2);
        color:  rgba(0, 0, 0, 0.514) ;
        filter: brightness(0.7);
    }
    .text{
        background-color:  rgba(0, 0, 0, 0.514) ;
    }
}