* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
}

.nav {
    display: flex;
    align-items: center;
    height: 76px;
    gap: 30px;
}

.img_1 {
    margin-right: auto; /* Логотип слева */
    padding-left:64px ;
}

.text {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    padding: 0 20px;

}
#div_1{
    width: 1366px;
    height: 504px;
    background-image: url(/kartinki/background-main.jpg);
}
.span_1{
    display: flex;
    flex-direction: column;
    padding-left: 198px;
    padding-top: 156px;
}
.span_2{
    font-weight: 700;
    font-size: 62px;
    padding-left: 198px;
}
.span_3{
    display: flex;
    padding-left: 198px;
    padding-top: 0px;
    font-weight: 500;
    font-size: 20px;        
}
.img_2{
    padding-left: 180px;
}
main{
    width: 1366px;
    height: 3435px;
    overflow: hidden;
    background-color:fill #FFFFFF;
}
.img_3{
    position: relative;
    z-index: 0;
    width: 367px;
    height: 314px;
    left: 975px;
    bottom:130px;
}
.div_2{
    width: 1170px;
    height: 757px;
    margin: auto;
    padding-top: 210px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-content: start;
}
.text_2{
    position: relative;
    font-size: 36px;
    font-weight: 700;
    margin: auto;
    margin-top: 0px;
}
.box_1 {
    border-radius: 8px;
    flex-basis: 370px; /* Используем flex-basis */
    height: 321px;
    box-shadow: 0 0 25px 0 rgba(208, 208, 208, 0.25);
    background: #fff;
    z-index: 1;
}


