* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header__nav {
    max-width: 1920px;
    display: flex;
    align-items: center;
    height: 76px;
    gap: 30px;
}

.main-block__button{
    border-radius: 25px;
    width: 206px;
    height: 50px;
    box-shadow: 0 5px 25px 0 rgba(26, 33, 47, 0.1);
    background: #fffefd;
    padding-left: 180px;
    background-image: url(../kartinki/button.png);
    background-repeat: no-repeat;
    background-position-x:50% ;
    background-position-y:40% ;
    margin-left: 14%;
    margin-top: 3%;
    cursor: pointer;
}

.header__img {
    margin-right: auto; 
    padding-left:64px ;
}

.header__link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    padding: 0 20px;

}

#main-block{
    max-width: 1920px;
    height: 504px;
    background-image: url(/kartinki/background-main.jpg);
    z-index: 99;
}

.main-block__city{
    display: flex;
    flex-direction: column;
    padding-left: 198px;
    padding-top: 156px;
}

.main-block__name{
    font-weight: 700;
    font-size: 62px;
    padding-left: 198px;
}

.main-block__description{
    display: flex;
    padding-left: 198px;
    padding-top: 0px;
    font-weight: 500;
    font-size: 20px;        
}

.reviews-section__reviews-container {
    display: flex;
    gap: 30px;
    padding: 40px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    min-height: 2810px;
}

.why-us__wrapper{
    max-width: 1920px;
    height: 757px;
    align-items:center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 70px;
    margin-left: 7%;
}

.why-us__title{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    padding-top: 100px;
    max-width: 1920px;
}

.why-us__item {
    border-radius: 8px;
    flex-basis: 370px; /* Используем flex-basis */
    height: 321px;
    box-shadow: 0 0 25px 0 rgba(208, 208, 208, 0.25);
    background: #fff;
    z-index: 1;
}

#why-us{
    background-image: url(../kartinki/paw.jpg);
    background-repeat: no-repeat;
    background-origin:content-box;
    background-position-x: 109%;
    background-position-y: -30%;
    background-size: 30%;
    padding-top: 130px;
}

.why-us__img{
    margin: 30px;
}

.why-us__subtitle{
    margin: auto;
    margin-left: 30px ;
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
}

.why-us__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-left: 30px 
}

.numbers-section__wrapper{
    max-width: 1920px;
    height: 578px; 
    background-image: url(../kartinki/fish.jpg);
    background-repeat: no-repeat;
    background-size: 44%;
    overflow: hidden;
    display: flex;
}

.numbers-section__title{
    margin: auto;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    margin-top: 137px;
}

.numbers-section__img{
    border-radius: 10px;
    width: 620px;
    height: 424px;
    margin-top: 70px;
    margin-left: 174px;
    size: 50%;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.numbers-section__info{
    position: relative;
    border-radius: 8px;
    width: 500px;
    height: 284px;
    box-shadow: 0 0 25px 0 rgba(208, 208, 208, 0.25);
    background: #fff;   
    margin-top: 130px;
    z-index: 10;
    right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.numbers-section__item {
    display: flex;
    align-items: center; /* Или flex-start, в зависимости от желаемого поведения */
    max-width: 1920px;
  }

.numbers-section__subtitle{
    font-weight: 500;
    font-size: 22px;
}

.numbers-section__icon{
    margin-top: 30px;
}

.numbers-section__text{
    font-weight: 400;
    font-size: 16px;
    width: 140px;
    margin-left: 10px;
    margin-bottom: 100px;
}

.numbers-section__details{
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.numbers-section__button{
    border-radius: 25px;
    width: 206px;
    height: 50px;
    box-shadow: 0 5px 25px 0 rgba(26, 33, 47, 0.1);
    background: #fffefd;
    padding-left: 180px;
    background-image: url(../kartinki/button.png);
    background-repeat: no-repeat;
    background-position-x:50% ;
    background-position-y:40% ;
    margin-top: 5%;
    cursor: pointer;
}

.numbers-section__label {
    /* ... другие стили для label ... */
    width: 100%; /* Занимаем всю ширину контейнера */
    display: flex;
    justify-content: center; /* Центрируем div с кнопками */
    position: relative;
}

.numbers-section__radio-wrapper {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.numbers-section__radio{
    border-radius: 100%;
    color: #fac663;
    width: 12px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers-section__prev-button{
    position: absolute;
    border-radius: 100%;
    fill: #fff;
    box-shadow: 0 2px 12px 0 rgba(173, 152, 143, 0.25);
    width: 36px;
    height: 36px;
    left: 1080px;
    border: none;
    cursor: pointer;
}

.numbers-section__next-button{
    position: absolute;
    border-radius: 100%;
    fill: #fff;
    box-shadow: 0 2px 12px 0 rgba(173, 152, 143, 0.25);
    width: 36px;
    height: 36px;
    right: 130px;
    border: none;
    cursor: pointer;
}

.reviews-section__wrapper{
    padding-top: 200px;
    max-width: 1294px;
    height: 556px;
    background-image: url(../kartinki/лапка.png);
    background-repeat: no-repeat;
    background-position-x:103% ;
    background-position-y:40% ;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.reviews-section__title{
    font-weight: 700;
    font-size: 36px;
    text-align: center;

}

.reviews-section__review{
    width: 470px;
    height: 206px;
    box-shadow: 0 0 25px 0 rgba(208, 208, 208, 0.25);
    background: #fff;
    display: flex;
    align-items: start;
    gap: 8px;
    padding: 30px;
}

.reviews-section__quotes{
    
    display: block;
    width:20px;
}

.reviews-section__text{
    width: 362px;
    display: block;

}

.reviews-section__author{
    margin-top: 10px;
    width: 370px;
    height: 10px;
    display: flex;
    justify-content: space-between;
}

.reviews-section__label {
    /* ... другие стили для label ... */
    width: 100%; /* Занимаем всю ширину контейнера */
    display: flex;
    justify-content: center; /* Центрируем div с кнопками */
    position: relative;
}

.reviews-section__radio-wrapper {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.reviews-section__radio{
    border-radius: 100%;
    color: #fac663;
    width: 12px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews-section__prev-button{
    position: absolute;
    border-radius: 100%;
    fill: #fff;
    box-shadow: 0 2px 12px 0 rgba(173, 152, 143, 0.25);
    width: 36px;
    height: 36px;
    left: 1080px;
    border: none;
    cursor: pointer;
}

.reviews-section__next-button{
    position: absolute;
    border-radius: 100%;
    fill: #fff;
    box-shadow: 0 2px 12px 0 rgba(173, 152, 143, 0.25);
    width: 36px;
    height: 36px;
    right: 130px;
    border: none;
    cursor: pointer;
}
.map-section__wrapper{
    max-width: 1920px;
    max-height: 580px;
    margin-top: 98px;
    display: flex;
}
.map-section__wrapper__div{
    width: 568px;
    height: 580px;  
    background: #fac663;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.map-section__wrapper__img{
    /* background-image: url(../kartinki/map.jpg); */
    width: 798px;
    max-height: 580px;
    display: flex;
}
.map-section__sutittle{
    margin: 9%;
    font-weight: 700;
    font-size: 36px;
    color: #1a212f;
}
#map-section__div{
    width: 227px;
    height: 59px;
    padding-bottom: 50px;
}
.map-section__text{
    font-weight: 700;
    font-size: 16px;
    color: #1a212f;
}
.map-section__info{
    font-weight: 400;
    font-size: 16px;
    color: #1a212f;
    padding-bottom: 15px;
}
.map-section__div{
    width: 227px;
    height: 59px;
    padding-top: 35px;
}
.map-section__icons{
    display: flex;
}
.map-section__icon{
    margin: 10px;
}
.map-section__icon_svg{
    position: relative;
    top: 247px;
    left: 263px;
}
footer{
    max-width: 1920px;
    height: 125px;
}
.footer-icon{
    padding-left: 198px;
    margin-top: 12px;
    margin-right: 370px; 
}
.footer__nav{
    display: flex;
    align-items: center;
    height: 76px;
    gap: 20px;

}
.footer__link{
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #1a212f;
    padding: 0 20px;
}
hr{
    border: 1px solid #efefef;
    max-width: 1920px;
    height: 0px;
}
.footer__img{
    margin-top: 20px;
    margin-left: 198px;
}
.footer__text{
    font-weight: 400;
    font-size: 12px;
    color: #8f8f8f;
    cursor: pointer;
}
.footer__info{
    font-weight: 400;
    font-size: 12px;
    color: #8f8f8f;
    margin-left: 629px;
    cursor: pointer;
}


.mapblock__map{
    width: 1000px;
}
@media screen and (max-width:768px) { 

    
}