h1 {
    display: flex;
    justify-content: center;
}
.product {
    border: solid 2px black;
    border-radius: 30px;
    width: 167px;
    text-align: center;
    padding-top: 22px;
    margin: 10PX;
    
}
#Main {
    display: flex;
    flex-wrap: wrap;
    margin:  auto;   
    justify-content: center ;
    border-bottom: solid 1px black;
}
p {
    text-align: center;
    font-weight: 800;
}

